@font-face {
        font-family: "NewAthletic";
        font-style: normal;
        src: url("New Athletic M54.ttf"); /*if IE */
        src: local("Grandesign Regular"), url("New Athletic M54.ttf") format("truetype"); /* non-IE */
}

html {
    width: 100%;
    height: 100%;
}

body {
    font-family: 'NewAthletic', Arial, sans-serif !important;
    margin: 0px;
}

a {
    font-family: 'NewAthletic', Arial, sans-serif !important;
}

div.map {
    width: 100%;
    height: 100%;
}

.controls {
    position: fixed;
    top: 120px;

    padding: 15px;

    z-index: 2;
}

.title {
    position: fixed;
    width: 100%;
    top: 50px;

    margin-left: auto;
    margin-right: auto;

    text-align: center;
    color: white;
    z-index: 100;

    background-color: black;

    opacity: 0.6;

}

element.style {
    display: block;
}

.hotspots {
    position: fixed;
    bottom: 10px;
    right: 10px;

    width: 140px;
    height: 490px;
    padding: 15px;

    background-color: #E6E6E6;
    
    z-index: 2;

    opacity: 0.8;
    
    border: 1px solid black;
}

.zoom {
    margin-top:5px;
}

a {
    font-family: 'BlanchCondensed';
    text-decoration: none;

    font-size: 16px;
    color: black;
}

a:hover {
    color: red;
}

#marker {
    position: absolute;
    z-index: 10;
    display: none;
    width: 40px;
    height: 40px;
   color:red;
}
